<%- include("../partials/header.ejs", { title: "Main Page" }) %>

<main>
 <% for (let episode of episodeArray) { %>
    <div class="card">
    
        <h3>Title: <%= episode.name %> <%= makeEpisodeCode(episode) %></h3>
        <img src="<%= episode.image.medium %>" alt="Episode Cover Image"/>
        <p>Summary: <%= episode.summary %></p>
        <p>airtime: <%= episode.airtime %></p>
    </div>
    <% }%>

</main>



<%- include("../partials/footer.ejs") %>
