<%- include("../partials/header.ejs", { title: "Main Page" }) %>
<p> Movie: <%= movie%> </p>
<section>
 <% for (let e of episodeArray) { %>
    <div class="card">
        <h3>Title: <%= e.name %></h3>
        <img src="<%= e.image.medium %>" alt="Episode Cover Image">
        <p>Summary: <%= e.summary %></p>
    </div>
    <% }%>

</section>

<%- include("../partials/footer.ejs") %>
